{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block content %}


				<div class="contacts-wrap" itemscope="" itemtype="http://schema.org/Organization">
				    <div>
					<div class="contacts-item">
					   <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">					    
                        <h2 class="text-color-white-10" itemprop="name">«Грузовичок»</h2>
						<div class="contacts-item__phone"><a href="tel:+74953246760" itemprop="telephone">8 (495) 324-67-60</a></div>
						<div class="contacts-item__phone-title">Бесплатный вызов</div>
						<div class="contacts-item__phone"><a href="tel:+78124040000" itemprop="telephone">8 (800) 100-33-30</a></div>
						<div itemprop="address" class="contacts-item__address" itemscope="">г. Москва, 1-й проезд Перова поля, д. 9, стр. 2, эт. 3. Деловой Центр «Гелиос Сити»<br></div>
					    </div>
					</div>
					</div>
					<div class="contacts-item contacts-item--press">
						<div class="contacts-item__title">Отдел контроля качества</div>
						<div class="contacts-item__phone"><a href="tel:+74952155809">8 (495) 215-58-09</a></div>
						<div class="contacts-item__address">круглосуточно</div>
						<a href="mailto:911@gruzovichkof.ru" class="contacts-item__email">911@gruzovichkof.ru</a>
					</div>
					<div class="contacts-item">
						<div class="contacts-item__title">Бухгалтерия<br><span style="font-size: 18px;">Отдел по работе с корпоративными клиентами</span></div>
						<div class="contacts-item__phone"><a href="tel:+74952151746">8 (495) 215-17-46</a></div><a href="mailto:zakaz-msk@gruzovichkof.ru" class="contacts-item__email" itemprop="email">zakaz-msk@gruzovichkof.ru</a><br><a href="mailto:zvonok-msk@gruzovichkof.ru" class="contacts-item__email">zvonok-msk@gruzovichkof.ru</a>
					</div>
					<!--div class="contacts-mails__item">
						<div class="contacts-mails__title">Отдел заключения договоров</div><a href="mailto:dogovor@gruzovichkof.ru" class="contacts-mails__email">dogovor@gruzovichkof.ru</a>
					</div-->
					<div class="contacts-mails__item">
						<div class="contacts-mails__title">Благотворительные проекты</div><a href="mailto:blago@gruzovichkof.ru" class="contacts-mails__email">blago@gruzovichkof.ru</a>
					</div>
					<div class="contacts-mails__item">
						<div class="contacts-mails__title">Отдел маркетинга и рекламы</div><a href="mailto:reklama@gruzovichkof.ru" class="contacts-mails__email">reklama@gruzovichkof.ru</a>
					</div>
				</div>


				
			

{% endblock %}