{% extends 'base.html' %}

{% block title %}
Акции
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-6">1 час работы
"Газели" всего за
499 руб</h1>
  <p class="lead">Самая дешевая перевозка мебели и вещей - при заказе машин типа Газель. При этом мы гарантируем высокое качество услуг.</p>
  <hr class="my-4">
  <p> Низкие тарифы определяются соответствующим уровнем эксплуатационных затрат.</p>
</div>

<div class="jumbotron">
  <h1 class="display-6">Квартирные переезды от 1290 руб.</h1>
  <p class="lead">Подробности у операторов!</p>
  <hr class="my-4">
</div>

<div class="jumbotron">
  <h1 class="display-6"> Выгодные два часа за 1490 рублей!</h1>
  <p class="lead">Хотите быстро переехать и сэкономить? Комплексное предложение от «Грузовичок»: выгодные два часа за 1490 рублей! </p>
  <hr class="my-4">
  <p>Подробности у операторов!</p>
</div>



{% endblock %}