<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="row">
         <div class="col-md"> 
      <a class="navbar-brand" href="{% url 'home_url' %}">
      <img src="https://atlantic-freight.com/s/i/air1.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Грузовичок
      </a>
    </div>
    <div class="col-md">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Услуги
        </a>
        <div class="dropdown-menu text-white" aria-labelledby="navbarDropdown">
          {% for service in services %}
    <a class="dropdown-item" href="{{ service.get_absolute_url }}">{{ service.title }}</a>
    {% endfor %}
        </div>
      </li>
    </div>
<div class="col-md">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'vacancy_url' %}">Вакансии <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="col-md">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'stock_url' %}">Акции <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="col-md">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          О компании
        </a>
        <div class="dropdown-menu text-white" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">О компании</a>
    <a class="dropdown-item" href="#">Отзывы сотрудников</a>
    <a class="dropdown-item" href="#">Документы</a>
    <a class="dropdown-item" href="#">Вопрос - ответ</a>
        </div>
      </li>
    </div>
    <div class="col-md">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'reviews_url' %}">Отзывы <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="col-md">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'contacts_url' %}"> Контакты <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="col-md">
    <a href="{% url 'fast_url' %}" type="button" class="btn btn-outline-warning my-2 my-lg-0 btn-lg">Заказать</a>
  </div>
    </ul>
  </div>
</div>
</nav>

   <div class="container mt-4">
    <div class="row">
      <div class="col-10 offset-md-1">
      {% block content %}
      There is no any content for you
      {% endblock %}
      </div>
    </div>
   </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html